body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

div {
  margin: 20px 10px;
  padding: .5px;
  border-radius: 10px;
  word-wrap: break-word;
}

.task-sec {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 5px;
}

option {
  font-size: medium;
  font-weight: 700;
}

.completed-task {
  background-color: green;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  width: 200px;
}

.total-task {
  background-color: red;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  width: 200px;
}
.heading-design{
  color: mediumseagreen;
}